// general
html *
  position: relative
  +box-sizing(border-box)


// containers
.container
  width: 100%
@each $el in $containers
  .container--#{$el}
    @extend .container
    min-width: 1001px


// outers
.wrapper--outer
  width: 100%
  margin-bottom: $ds
@each $el in $wrappers
  .wrapper--outer-#{$el}
    @extend .wrapper--outer


// inners
.wrapper--inner
  +container
  height: 100%
@each $el in $wrappers
  .wrapper--inner-#{$el}
    @extend .wrapper--inner


// columns
.column-aside
  +column(2)
.column--main
  +column(6, true)

// baner
.page--logo,
.page--claim,
.page--cart-info
  +inline-block

.page--logo,
.page--cart-info
  width: span(2)
.page--claim
  width: span(4)
