@mixin set-gradient-bg($gradient-lighten: $gradient-primary, $gradient-darken: $gradient-primary-darken)
  +background-image(linear-gradient($gradient-lighten, $gradient-darken))
  +filter-gradient($gradient-lighten, $gradient-darken, vertical)

@mixin set-contrast-color($background: $background-color, $color-dark: $color-dark, $color-light: $color-light)
  color: contrast-color($background, $color-dark, $color-light, 55%)

@mixin regular-box-shadow($shadow-color: $shadow-color)
  +box-shadow(rgba($shadow-color, .15) 0 4px 2px -2px)
  border: 1px solid rgba($shadow-color, .15)

@mixin text-link
  +unstyled-link
  border-bottom-color: transparent
  &:hover,
  &:focus,
  &:active
    border-bottom-color: transparent

@mixin n-in-row-list($n: 3, $ds: $ds)
  +inline-block-list
  margin-left: -$ds
  > li
    width: 33.3333%
    > *
      margin-left: $ds
