// general
+establish-baseline

a
  +link-colors($link-nomral, $link-hover, $link-active, $link-visited, $link-focus)
  text-decoration: none
  border-bottom: 1px dotted transparent
  &:hover,
  &:focus
    border-bottom-color: $link-hover
  &:active
    border-bottom-color: $link-active

body 
  +set-contrast-color
  background-color: $background-color
  font-family: "Source Sans Pro", sans-serif
  font-weight: 400



// top
.wrapper--outer-top
  +set-gradient-bg

.wrapper--inner-top
  > span
    +adjust-font-size-to(13px, 1.6)
    +set-contrast-color($gradient-primary)
  a 
    +text-link



// baner
.wrapper--inner-baner
  margin-bottom: $ds
  img
    display: block
    max-width: 100%
    height: auto
    margin: 0 auto

.page--logo,
.page--claim
  margin-top: 0
  margin-bottom: 0

.page--claim
  padding: 0 1em
  text-align: center
.page--claim > p
  +inline-block
  text-align: left

// -- cart info
.page--cart-info 
  text-align: right
  strong
    +set-contrast-color($color-dark: $cv-secondary)
  .page--cart-price
    +set-contrast-color($color-dark: $cv-primary)
    +adjust-font-size-to(26px, 1.2)
    font-weight: 700
  em
    font-style: normal




// navs
// -- main
.wrapper--outer-nav
  +set-gradient-bg($gradient-secondary, $gradient-secondary-darken)
  +box-shadow(rgba($shadow-color, .15) 0 -2px 0 inset)
.nav--main
  +set-contrast-color($gradient-secondary)
  +inline-block-list
.nav--main-item
  border-left: 1px solid rgba($shadow-color, .15)
  margin-bottom: 2px
  > a
    +text-link
    +inline-block
    +adjust-font-size-to(15px, 2)
    padding: 0 $ds
  &:first-child
    border-left-color: transparent
    margin-left: -$ds

// -- products
.nav--products
  +no-bullets
  margin: 0
  padding: 0
.nav--products-item
  border-top: 1px solid rgba($shadow-color, .075)
  &:first-child
    border-top-color: transparent
  a 
    +text-link
    +nowrap
    display: block
    overflow: hidden
    padding: $ds/2 $ds 
  span,
  em
    +inline-block
  span
    width: 40%
    margin-right: 5%
  em 
    +force-wrap
    +adjust-leading-to(.85)
    width: 55%
    font-style: normal
  img
    max-width: 100%
    height: auto
    vertical-align: middle



// boxes
.box--regular
  +border-radius(5px)
  +regular-box-shadow
  margin-bottom: $ds
// -- specific boxes
.box--gradient
  @extend .box--regular
  +set-gradient-bg
  +set-contrast-color($gradient-primary)
  padding: 0 $ds/2
  border-top-color: shade($gradient-primary, 15%)
  border-bottom-color: shade($gradient-primary-darken, 15%)

.box--welcome
  @extend .box--regular
  padding: $ds/2 $ds
.box--product
  @extend .box--regular


// headers
.header--regular
  +ellipsis
  +adjust-font-size-to(25px, 2.2)
  +set-contrast-color($color-dark: $cv-primary)
  border-bottom: 1px solid rgba(contrast-color($background-color), .15)
  font-weight: 400
  margin: $ds/3 0
.header--primary
  +adjust-font-size-to(15px)
  +set-gradient-bg
  +set-contrast-color($gradient-primary)
  +border-radius(5px 5px 0 0)
  margin: 0 0 5px
  padding: $ds/3 $ds 
  font-weight: 600
  &:after
    +set-gradient-bg
    +opacity(.8)
    content: ""
    position: absolute
    bottom: -6px
    left: -1px
    right: -1px
    height: 5px
  &:before
    +border-radius(5px 5px 0 0)
    +set-gradient-bg
    content: ''
    position: absolute
    top: -1px
    right: -1px
    bottom: -1px
    left: -1px
    z-index: -1
.header--secondary
  +ellipsis
  +adjust-font-size-to(16px)
  +set-contrast-color($color-dark: $cv-primary)
  margin: $ds/3 0
  font-weight: 600

// -- specific headers
.header--welcome
  @extend .header--regular
  width: 75%
  border-bottom-color: rgba(contrast-color($background-color, $dark: $cv-primary), .25)
  margin-top: 0



//buttons
.btn
  +inline-block
  +border-radius(3px)
  +regular-box-shadow
  padding: $ds/4 $ds/2
  text-decoration: none
  border: 0
  &:active
    top: 1px
// -- secondary
.btn-secondary
  @extend .btn
  +set-gradient-bg($gradient-tertiary, $gradient-tertiary-darken)
  +adjust-font-size-to(13px)
  +single-text-shadow($color: #fff)
  &:after
    +set-gradient-bg(shade($gradient-tertiary, 15%), shade($gradient-tertiary-darken, 15%))
    +border-radius(5px)
    content: ''
    position: absolute
    top: -1px
    right: -1px
    bottom: -1px
    left: -1px
    z-index: -1
  &:hover,
  &:focus,
  &:link,
  &:visited
    +set-contrast-color($gradient-tertiary)
  
    

// misc
// -- products list
.page--products-list
  +n-in-row-list
  > li
    vertical-align: top
.product--thumb
  background-color: $background-product
  text-align: center
  z-index: -1
  height: 270px
  line-height: 270px
  img
    +inline-block
    max-width: 90%
    max-height: 90%
    height: auto
.product--desc
  padding: $ds/2
  text-align: center
  .header--secondary
    margin-bottom: 0
  dl
    margin: 0 0 $ds/3
  dt,
  dd
    margin: 0
    +inline-block
  .product--price
    +adjust-font-size-to(28px, 1.2)
    display: block
    text-align: center
  .btn-secondary
    margin: $ds/2

